#main {
  .main--bg {
    width: 100%;
    height: clamp(20rem, 40vw, 90rem);
    margin-bottom: clamp(1rem, 5.4vw, 10rem);
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      color: #1e4a5f;
      font-family: sans-serif;
      font-weight: 800;
      font-size: clamp(0.3rem, 2.4vw, 10rem);
      margin: clamp(1rem, 2vw, 10rem) 0;
    }
    button {
      padding: clamp(0.3rem, 1vw, 10rem) clamp(0.3rem, 1.5vw, 10rem);
      background: rgba(239, 211, 114, 1);
      color: #1e4a5f;
      display: flex;
      align-items: center;
      gap: clamp(1rem, 1vw, 10rem);
      border: none;
      border-radius: 10px;
      transition: 0.8s;
      &:hover {
        color: rgba(239, 211, 114, 1);
        background: #1e4a5f;
        transform: translate((1.1));
      }
    }
  }
  .mainBanner {
    display: flex;
    align-items: center;
    gap: clamp(1rem, 5.4vw, 10rem);
    img {
      width: clamp(7rem, 35vw, 40rem);
    }
  }
  .main {
    &--block1 {
      display: flex;
      align-items: center;
      gap: clamp(0.3rem, 0.3vw, 5rem);
      margin-bottom: clamp(2rem, 10vw, 12rem);
      margin-top: clamp(2rem, 8vw, 10rem);
      &__text {
        h1 {
          font-family: sans-serif;
          font-weight: 800;
          font-size: clamp(0.2rem, 1.8vw, 2rem);
          color: rgba(39, 76, 91, 1);
          margin: clamp(0.2rem, 1vw, 2rem) 0;
        }
        p {
          font-family: sans-serif;
          font-weight: 400;
          font-size: clamp(0.1rem, 1vw, 2rem);
          color: rgba(39, 76, 91, 1);
          line-height: clamp(0.1rem, 1.2vw, 2rem);
        }

        &--card {
          display: flex;
          margin-top: clamp(0.2rem, 1vw, 2rem);
          h5 {
            display: flex;
            align-items: center;
            span {
              font-family: sans-serif;
              font-weight: 500;
              font-size: clamp(0.2rem, 1vw, 4rem);
              padding-left: 10px;
            }
            margin: 0 clamp(0.2rem, 1vw, 2rem) 0 0;
          }
        }
        button {
          padding: clamp(0.1rem, 1vw, 2rem) clamp(1rem, 1.5vw, 22rem);
          background: rgba(39, 76, 91, 1);
          display: flex;
          align-items: center;
          color: white;
          border: none;
          border-radius: 13px;
          margin-top: clamp(0.2rem, 1vw, 2rem);
          font-size: clamp(0.2rem, 1vw, 2rem);
          transition: 0.8s;
          &:hover {
            transform: translate(1.3);
            color: #1e4a5f;
            background: white;
            border: 2px solid #1e4a5f;
          }
        }
      }
    }

    &--blockCategories {
      margin: 140px 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      h1 {
        font-size: clamp(0.5rem, 2vw, 9rem);
        color: #1e4a5f;
        margin: 15px 0;
      }
      &__card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        &--text {
          width: 290px;
          height: 240px;
          text-align: center;
          border: 2px solid #1e4a5f;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 20px;
          border-radius: 20px;
          transition: 0.8s;
          &:hover {
            color: white;
            transform: translate(1.1);
          }
          img {
            width: 90%;
            height: 180px;
            object-fit: contain;
            transition: 0.8s;
            &:hover {
              transform: translate(1.3);
              width: 100%;
            }
          }
          h2 {
            font-family: sans-serif;
            font-weight: 600;
            font-size: clamp(0.2rem, 1.2vw, 2rem);
            color: rgba(39, 76, 91, 1);
            margin: clamp(0.2rem, 1vw, 2rem) 0;
            transition: 0.8s;
            &:hover {
              transform: translate(1.3);
              font-size: clamp(0.2rem, 1.7vw, 2rem);
            }
          }
        }
      }
    }

    &--block2 {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: clamp(1rem, 2vw, 10rem);
      flex-direction: column;
      h1 {
        font-family: sans-serif;
        font-weight: 800;
        font-size: clamp(0.8rem, 3vw, 2rem);
        color: rgba(39, 76, 91, 1);
        text-align: center;
        margin-bottom: clamp(0.2rem, 1.8vw, 2rem);
      }
      .btn {
        button {
          padding: clamp(0.1rem, 1vw, 2rem) clamp(1rem, 1.5vw, 22rem);
          background: rgba(39, 76, 91, 1);
          display: flex;
          align-items: center;
          color: white;
          border: none;
          border-radius: 13px;
          margin-top: clamp(0.2rem, 1vw, 2rem);
          font-size: clamp(0.2rem, 0.8vw, 2rem);
          transition: 0.8s;
          &:hover {
            transform: translate(1.3);
            color: #1e4a5f;
            background: transparent;
            border: 2px solid #1e4a5f;
          }
        }
      }
      &__cards {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: clamp(1rem, 5vw, 15rem);
      }
    }
  }
  .main--block3 {
    width: 100%;
    height: clamp(20rem, 50vw, 90rem);
    margin: clamp(7rem, 10vw, 40rem) 0;
    font-family: sans-serif;
    &__cards {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: clamp(0.1%, 0.1%, 5rem);
      background-color: transparent;
      border-radius: 10px;
      margin: clamp(7rem, 10vw, 40rem) 0;

      .rating {
        display: flex;
        justify-content: center;
        margin-top: 1rem;

        .star {
          width: clamp(0.8rem, 1.5vw, 9rem);
          height: clamp(0.8rem, 1.5vw, 9rem);
          background-color: gold;
          clip-path: polygon(
            50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%
          );
          margin: clamp(0.3rem, 0.5vw, 9rem) clamp(0.3rem, 0.5vw, 9rem);
        }
      }

      h1 {
        font-size: clamp(0.5rem, 2vw, 9rem);
        color: #1e4a5f;
        margin-top: clamp(0.5rem, 1vw, 9rem);
      }

      p {
        color: #4c4c4c;
        font-size: clamp(0.2rem, 1vw, 5rem);
        margin: clamp(0.1rem, 0.6vw, 9rem) 0;
        line-height: clamp(0.2rem, 2vw, 9rem);
      }

      h4 {
        font-size: clamp(0.2rem, 1.3vw, 9rem);
        color: #1e4a5f;
        font-weight: 600;
      }

      .consumer {
        font-size: clamp(0.2rem, 1.3vw, 9rem);
        margin: clamp(0.2rem, 0.8vw, 9rem);
        color: #7a7a7a;
      }

      .divider {
        margin: clamp(0.2rem, 0.5vw, 9rem);
        color: #8ba5b1;
        font-size: clamp(0.3rem, 1.2vw, 9rem);
        display: flex;
        align-items: center;
        gap: clamp(0.3rem, 1vw, 9rem);
      }
      .divider h3:hover {
        color: #1e4a5f;
      }

      .stats {
        display: flex;
        justify-content: space-evenly;
        margin-top: clamp(0.2rem, 1vw, 9rem);
        width: 100%;
        font-size: clamp(0.3rem, 1.2vw, 9rem);
        .stat {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: clamp(0.8rem, 8vw, 12rem);
          height: clamp(0.8rem, 8vw, 12rem);
          border-radius: 50%;
          background: rgba(241, 241, 241, 1);
          font-size: clamp(0.3rem, 1vw, 5rem);
          border: 3px solid rgba(126, 182, 147, 1);
          .stat-number {
            font-weight: bold;
            color: #1e4a5f;
          }
        }
      }
    }
  }
  .main--block4 {
    width: 100%;
    height: clamp(7rem, 45vw, 90rem);
    background: rgba(39, 76, 91, 1);
    display: flex;
    align-items: center;
    justify-content: center;

    &__title {
      display: flex;
      align-items: end;

      justify-content: space-between;
      h1 {
        color: white;
        font-family: sans-serif;
        font-weight: 800;
        font-size: clamp(0.3rem, 2.4vw, 10rem);
      }
      button {
        padding: clamp(0.3rem, 1vw, 10rem) clamp(0.3rem, 1.5vw, 10rem);
        background: rgba(239, 211, 114, 1);
        color: #1e4a5f;
        display: flex;
        align-items: center;
        gap: clamp(1rem, 1vw, 10rem);
        border: none;
        border-radius: 10px;
        transition: 0.8s;
        &:hover {
          color: rgba(239, 211, 114, 1);
          background: #1e4a5f;
          transform: translate(1.3);
          border: 2px solid rgba(239, 211, 114, 1);
        }
      }
    }
    &__text25 {
      margin-top: clamp(0.3rem, 8vw, 10rem);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: clamp(1rem, 4vw, 10rem);
      overflow-y: scroll;
      height: clamp(7rem, 20vw, 90rem);
    }
  }
  .main--block5 {
    position: relative;
    &__store {
      width: clamp(10rem, 35vw, 80rem);
      height: clamp(10rem, 35vw, 80rem);
      background: rgba(255, 255, 255, 1);
      position: absolute;
      top: clamp(0.1rem, 10vw, 25rem);
      right: clamp(0.1rem, 20vw, 25rem);
      border-radius: 20px;
      padding: clamp(2rem, 4vw, 8rem) clamp(2rem, 4vw, 8rem);
      h1 {
        font-family: sans-serif;
        font-weight: 800;
        font-size: clamp(0.2rem, 1.8vw, 2rem);
        color: rgba(39, 76, 91, 1);
        margin: clamp(0.2rem, 1vw, 2rem) 0;
      }
      h4 {
        span {
          font-family: sans-serif;
          font-weight: 600;
          font-size: clamp(0.2rem, 1vw, 2rem);
          color: rgba(39, 76, 91, 1);
        }
        font-family: sans-serif;
        font-weight: 400;
        font-size: clamp(0.2rem, 1vw, 2rem);
        color: rgba(82, 92, 96, 1);
        margin-bottom: clamp(2rem, 2vw, 8rem);
      }
    }
  }
  .main--block6 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: clamp(20rem, 40vw, 90rem);
    background: rgba(241, 248, 244, 1);
    gap: clamp(0.3rem, 7vw, 5rem);

    &__cards1 {
      height: clamp(10rem, 25vw, 80rem);
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        padding: clamp(0.1rem, 1vw, 2rem) clamp(1rem, 1.5vw, 22rem);
        background: white;
        display: flex;
        align-items: center;
        color: #1e4a5f;
        border: none;
        border-radius: 13px;
        margin-top: clamp(0.2rem, 1vw, 2rem);
        font-size: clamp(0.2rem, 1vw, 2rem);
      }
      button:hover {
        background: #1e4a5f;
        color: white;
      }
    }
  }
  .main--block7 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: clamp(1rem, 2.5vw, 10rem);
    margin: clamp(2rem, 10vw, 10rem) 0;
    margin-bottom: clamp(2rem, 22vw, 10rem);

    &__text {
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      h2 {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: clamp(1rem, 2vw, 10rem);
        span {
          font-family: sans-serif;
          font-weight: 800;
          font-size: clamp(0.2rem, 2vw, 10rem);
          color: #1e4a5f;
        }
      }
      button {
        padding: clamp(0.2rem, 1vw, 6rem) clamp(0.3rem, 1.5vw, 6rem);
        background: transparent;
        color: #1e4a5f;
        display: flex;
        align-items: center;
        gap: clamp(1rem, 1vw, 10rem);
        border: 2px solid #1e4a5f;
        border-radius: 10px;
        font-size: clamp(0.4rem, 1vw, 4rem);
        transition: 0.8s;
        &:hover {
          transform: translate(1.1);
          background: #1e4a5f;
          color: white;
        }
      }
    }
    &__cards {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &--card1 {
        width: clamp(2rem, 35vw, 40rem);
        height: clamp(3rem, 28vw, 40rem);
        border-radius: clamp(1rem, 2vw, 7rem);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: clamp(0.7rem, 2.8vw, 6rem);
        &__btn25 {
          button {
            width: clamp(1rem, 4.2vw, 6rem);
            height: clamp(1rem, 4.2vw, 20rem);
            background: white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            font-family: sans-serif;
            font-weight: 800;
            font-size: clamp(0.2rem, 1vw, 4rem);
            text-align: center;
            color: #1e4a5f;
            border: none;
          }
        }
        &__cirkle {
          padding: clamp(0.7rem, 2vw, 6rem);
          width: clamp(5.5rem, 30vw, 40rem);
          height: clamp(5rem, 20vw, 40rem);
          background-color: white;
          margin-top: clamp(01.3rem, 12vw, 40rem);
          box-shadow: 1.5px 2px 7px black;
          border-radius: clamp(0.1rem, 1vw, 3rem);
          h4 {
            color: rgba(239, 211, 114, 1);
            span {
              color: rgba(39, 76, 91, 1);
              font-family: sans-serif;
              font-weight: 400;
              font-size: clamp(0.2rem, 1vw, 4rem);
            }
          }
          h2 {
            margin: clamp(0.2rem, 1vw, 4rem) 0;
            font-family: sans-serif;
            font-weight: 800;
            font-size: clamp(0.2rem, 1vw, 4rem);
            line-height: 100%;
            letter-spacing: 0%;
            color: #1e4a5f;
            span {
              font-family: Open Sans;
              font-weight: 400;
              font-size: clamp(0.2rem, 0.8vw, 4rem);
            }
          }

          button {
            padding: clamp(0.1rem, 0.8vw, 5rem) clamp(0.1rem, 1.8vw, 5rem);
            background: rgba(239, 211, 114, 1);
            color: #1e4a5f;
            display: flex;
            align-items: center;
            gap: clamp(0.3rem, 0.7vw, 10rem);
            border: none;
            border-radius: clamp(0.1rem, 0.8vw, 5rem);
            font-weight: 700;
            font-size: clamp(0.3rem, 1vw, 5rem);
          }
        }
      }
    }
  }
  .main--block8 {
    height: clamp(2rem, 15vw, 40rem);
    border-radius: clamp(0.2rem, 2vw, 10rem);
    margin-top: clamp(2rem, 10vw, 40rem);
    margin-bottom: clamp(2rem, 15vw, 40rem);
  }
}
