#admin {
  .admin {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(0.1rem, 0.2vw, 2rem);
    input {
      margin: 0 clamp(0.1rem, 1vw, 22rem);
      padding: clamp(0.1px, 0.5vw, 10px) clamp(0.1px, 2.4vw, 10px)
        clamp(0.1px, 0.5vw, 10px) clamp(0.1px, 2.4vw, 10px);
      border-radius: 15px;
      border: 1px solid rgba(39, 76, 91, 1);
      margin-bottom: clamp(1rem, 3vw, 5rem);
      font-size: clamp(0.5rem, 1vw, 2rem);
    }
    button {
      padding: clamp(0.1rem, 0.8vw, 2rem) clamp(1rem, 5vw, 22rem);
      border: none;
      background: rgba(39, 76, 91, 1);
      color: white;
      border-radius: 10px;
      font-size: clamp(0.5rem, 1.5vw, 2rem);
    }
    &--block1 {
      width: 35%;

      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: space-between;
    }

    &--block2 {
      width: 35%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 30px;
      select {
        padding: clamp(0.1rem, 0.8vw, 2rem) clamp(1rem, 5vw, 22rem);
        border-radius: 10px;
      }
    }
  }
}
